body {
  background-color: black;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 10px;
}
input {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: solid 1px white;
  font-size: large;
}
.addTag-btn {
  height: 40px;
  border-radius: 10px;
  border: solid 1px white;
  color: white;
  background-color: black;
}
.input-field {
  display: flex;
  gap: 10px;
}
.tag-btn {
  height: 40px;
  border-radius: 10px;
  border: solid 1px white;
  color: white;
  background-color: black;
  margin: 5px;
}
